.singleNV {
  display: flex;
  width: 100%;

  .singleContainerNV {
    flex: 6;
    background-color: #f5f7fa;

    .topNV {
      padding: 20px;
      display: flex;
      gap: 20px;
      border-radius: 10px;

      .leftNV {
        background-color: #ffffff;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        cursor: pointer;
        padding: 20px;
        position: relative;
        border-radius: 10px;
        width: 100%;
        position: relative;

        .titleNV {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 15px;
          padding: 8px;
          border-radius: 5px;
          color: #ffffff;
          background-color: #32516F;
          background-image: linear-gradient(250deg, #537895 25%, #32516F 80%);
        }

        .editBtnNV {
          position: absolute;
          top: 0;
          right: 0;
          font-weight: bold;
          font-size: 12px;
          padding: 10px;
          color: #ffffff;
          background-color: #32516F;
          background-image: linear-gradient(250deg, #537895 25%, #32516F 80%);
        }

        .itemNV {
          display: flex;
          margin-top: 30px;
          gap: 20px;
          width: 100%;

          .itemImgNV {
            //background-image: url("src/components/images/work.jpeg");
            width: 150px;
            height: 150px;
            border-radius: 10%;
            object-fit: cover;
            margin-left: -10px;
          }

          .detailsNV {
            //background-color: whitesmoke;
            display: flex;
            width: max-content;
            gap: 30px;

            .itemTitleNV {
              color: #537895;
              margin-bottom: 10px;
              font-weight: bold;

              li {
                padding: 10px;
              }
            }

            .itemKeyNV {
              color: #555555;
              font-weight: normal;
              margin-left: -15px;
              margin-bottom: 10px;
              inline-size: 180px;
              overflow-wrap: break-word;

              li {
                list-style: none;
                padding: 10px;
              }
            }

          }
        }
      }
    }

    .bottomNV {
      background-color: #ffffff;
      padding: 20px;
      //display: flex;
      margin: 20px;
      border-radius: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      cursor: pointer;
      position: relative;

      .titleNV {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 15px;
        padding: 8px;
        background-color: rgba(175, 207, 227, 0.35);
        border-radius: 5px;
        color: #ffffff;
        background-color: #32516F;
        background-image: linear-gradient(250deg, #537895 25%, #32516F 80%);
      }
    }
  }
}